* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;

}

.login-inner-Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
  height: 100vh;
}

/* login left side */
.login-left {
  width: 50%;
  min-height: 480px;
  height: 100vh;
  position: relative;
  background: url(../../assets/Food.jpg);
  background-size: cover;
}

.login-page-content {
  position: relative;
  z-index: 4;
  width: 70%;
  height: 100%;
  bottom: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}

.login-page-content>span {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins',
    sans-serif;
  font-weight: 600;
  font-size: 35px;
}

.login-page-content>span>span {
  color: #FA4A0C;
  margin-left: 12px;
}

.login-page-content p {
  color: #fff;
  line-height: 30px;
}

.login-left:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.507),
      rgba(0, 0, 0, 0.52));
}

.img-content {
  min-width: max-content;

}

/* login right side */
.login-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #FDFDFD;
  height: inherit;
  justify-content: center;

}

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: auto;
}

.login-page-heading {
  text-align: left;
  width: 55%;
  margin: auto;
}

.otp-form {
  height: 88vh;
}

.login-form-back-btn {
  position: relative;
  top: 0;
}

.login-heading h4 {
  color: #FA4A0C;
  font-family: 'poppins', sans-serif;
  display: flex;
  justify-content: center;
  place-items: center;
  line-height: 4rem;
  font-size: 25px;
}

.login-logo {

  height: 50px;
}

.Login-create-account-links span {
  height: 45px;
  width: 45px;
  color: rgba(0, 0, 0, 789);
  border-radius: 50%;
  background: #FDFDFD;
  margin: 0 10px;
  box-shadow: 1px 1px 6px #a1a1a757;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Login-create-account-links span:hover {
  transform: translateY(-5px);
  transition: 0.2s ease-in-out;
}

.login-input-box {
  width: 45%;
}

.login-input-box label {
  position: relative;
  display: flex;
  vertical-align: middle;
}

.login-input-box label input[type="number"] {
  -moz-appearance: textfield;
}

.login-input-box input::-webkit-outer-spin-button,
.login-input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-input-box label span {
  transform: translateY(3px);
}

.login-fileds {
  border: none;
  border: 1px solid #DEDEDE;
  padding: 5px 7px 7px 40px;
  user-select: none;
  outline: none;
  margin-bottom: 15px;
  background: #FDFDFD;
  color: rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  font-size: 15px;
}

span.field-icons {
  position: absolute;
  left: 0;
  font-size: 18px;
  padding: 0 0px 0px 15px;

}

.foregtpass p {
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  color: rgba(33, 159, 218, 0.959);
}

span.login-btn {
  margin: 10px auto 15px;
  padding: 8px 15px;
  color: #fff;
  background: #FA4A0C;
  width: 50%;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  transition: 0.2s ease-in-out;
}

.signup-next-btn {
  margin: 10px auto 15px;
  padding: 5px 15px;
  color: #fff;
  background: #FA4A0C;
  width: 50%;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  transition: 0.4s ease-in-out;
  line-height: 30px;
}

.signup-next-btn span {
  font-size: 22px;
}

.signup-next-btn:hover {
  box-shadow: 1px 1px 5px #000;
}

.signup-next-btn:hover span {

  padding-left: 15px;
  transition: 0.2s ease-in-out 0.1s;
}

span.login-btn:hover {
  filter: brightness(1.3);
  box-shadow: 1px 1px 5px #000;
}

.dont-have-account {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.651);
  text-align: center;
}

.dont-have-account span {
  color: #FA4A0C;
  cursor: pointer;
  text-decoration: none;
}

.otp-back-btn {
  height: 45px;
  width: 45px;

  color: rgba(0, 0, 0, 789);
  border-radius: 50%;
  /* background: #FDFDFD; */
  margin: 0 10px;
  /* box-shadow: 1px 1px 6px #a1a1a757; */
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.otp-back-btn:hover {
  box-shadow: 1px 1px 6px #a1a1a757;
}

@media only screen and (max-width:767px) {
  .login-right {
    width: 100%;
    justify-content: flex-start;
    /* padding-top: 100px; */
  }

}

@media only screen and (max-width:575px) {
  .login-input-box {
    width: 92%;
  }

  .login-fileds {
    height: 40px;
  }


  .forget-p-heading {
    width: 90% !important;
  }
}