* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offerImg {
  height: 250px;
  object-fit: contain;
  margin: auto;
  cursor: pointer;
}

.slick-arrow {
  color: #000 !important;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.411);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width:1199px) {
  .offerImg {
    height: 200px;
    object-fit: contain;
  }
}

@media only screen and (max-width:675px) {
  .offerImg {
    height: 200px;
    object-fit: contain;
    padding: 10px;
  }
}

@media only screen and (max-width:480px) {
  .offerImg {
    height: 140px;
    object-fit: contain;
    padding: 0 10px;
  }
}

/* trending card css */
.trendingBg {
  background: #F8F9FA;
}

.trendingImg {
  height: 200px;
}

.trending-card {
  height: 320px;
  cursor: pointer;
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.075)
}

.trending-heading {
  font-family: 'poppins', sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}

.card-content {
  position: relative;
}

.trending-heart {
  position: absolute;
  right: 5%;
  top: 20%;
  font-size: 22px;
}

.like {
  color: #f00;
}

.dislike {
  /* color: #C8C8C8; */
  color: #A4A4A4;
}

.card-content h4 {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.card-content span {
  font-size: 11px;
  line-height: 18px;
  color: #424242;
}

.dot {
  font-size: 18px;
  font-weight: 600;
}

.star {
  color: #F5CD25;
  font-size: 14px;
}

.trending-viewall {
  font-size: 13px;
  line-height: 19px;
  color: #E23744;
  cursor: pointer;
  text-decoration: none;
}